.menubox {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  background-color: none;
  // position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 100);
}

.menubox:focus {
  outline: none; /* 青いフォーカスの線を消す */
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #ccc; /* デフォルトのアイコンの枠線をグレーに */
  fill: none; 
}

.iconActive {
  width: 24px;
  height: 24px;
  stroke: #000; 
  fill: #000;
}

.iconClicked {
  width: 24px;
  height: 24px;
  stroke: #fff; /* クリック後のアイコン色を白に */
}

.iconClicked:focus {
  outline: none; /* 青いフォーカスの線を消す */
}

.iconClicked2 {
  width: 24px;
  height: 24px;
  color: #fff; /* クリック後のアイコン色 */
  fill: #fff; /* クリック後の内側の色を白に */
  stroke: #fff; /* 外側の線の色 */
  stroke-width: 1px; /* 線の太さ */
  // background-color: #fff;
}

.iconClicked2:focus {
  outline: none; /* 青いフォーカスの線を消す */
}
